{% extends "encyclopedia/layout.html" %}

{% block title %}
    Update Content
{% endblock %}

{% block body %}

<form action="{%url 'query:edit_page' %}" method="POST">
    {%csrf_token%}
    <div>
        <h2> Update Page on Title: {{title}} </h2>
    </div>
    <div>
        <input type="hidden" class ="title-box" name = "title" value = "{{title}}">
    </div>
    <div>
        <textarea class = "markdown-box" placeholder="Please type your content. Format: (MarkDown)" name = "content">{{content}}</textarea>
    </div>
    <div>
        <input class = "btn btn-primary submit-box" type="submit" value = "Update Entry" name="operation">
        <input class = "btn btn-secondary submit-box" type="submit" value = "Delete Entry" name="operation">
    </div>    

</form>

{% endblock %}