{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
    {{ listing.title|upper}}
{% endblock %}

{% block body %}
    {% if massage %}
        <div class="alert alert-warning" role="alert">
            {{massage}}
        </div>
    {% endif %}

    <div class="sl-content">
        <div class="sl-head">
            <div class='sl-title sl-title'>
                <b>Title:
                    {{listing.title|capfirst}}</b>
            </div>
            <div class="sl-status sl-title">
                Status:
                {% if listing.is_live %}
                    (Active)
                {% else %}
                    (Closed)
                {% endif %}
            </div>
            <div class="sl-title">
                <a href="{% url 'wishlist_toggler' listing.id%}">
                    {% if listing in user.wishlist.all %}
                        Remvoe From The Wishlist
                    {% else %}
                        Add to Wishlist
                    {% endif %}
                </a>
            </div>
            <div class="sl-title">
                {% if listing.user.id == request.user.id %}
                    <a href="{% url 'status_toggler' listing.id%}">
                        {% if listing.is_live %}
                            Close Bidding
                        {% else %}
                            Active Bidding
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="al-datetime">
            Create on:
            {{listing.time}}
        </div>
    </div>
    <div class="sl-body">
        <div class="sl-image">
            <img src="{{listing.image_url}}" alt="{{listing.title}}">
        </div>
        <div class="sl-description-price">
            <div class="sl-price">
                <div class="sl-starting-price">
                    <b>Starting Price:</b>
                    {{listing.asking_price}}$
                </div>
                <div class="sl-current-top">
                    <b>Current Top:</b>
                    {{current_top}}$
                </div>
            </div>
            <hr>
            <div class="sl-description">
                <b>Description:</b>
                <pre class="sl-description-text">{{listing.description|safe}}</pre>
            </div>
            <div class="sl-user-category">
                <b> Other information:</b>
                <ul class="sl-user-categorie-box">
                  
                    {% comment %} <hr> {% endcomment %}
                    <li class="sl-user">
                        Listed by: {{listing.user}}
                    </li>
                    <li class="sl-category">
                        Category:
                        {% if listing.category %}
                            <a href="{% url 'category_listing' listing.category%}">
                        {% else %}
                            <a href="{% url 'category_listing'%}">
                        {% endif %}
                                {{ listing.get_category_label}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sl-bid form-group">
            <div class="top-bidders">
                <div>
                    <b>Top Biddings:
                    </b>
                </div>
                {% for bid in biddings %}
                    <div class="bidders">
                        <div class="bid-price">
                            <b>Offer: &nbsp;</b>
                            {{bid.offer_price}}
                        </div>

                        <div class="bid-user">
                            <b>User: &nbsp</b>
                            {{bid.user.username}}
                        </div>
                    </div>
                    {%empty%}
                        <div class="bidders">
                            Place the first Bid!
                        </div>
                {% endfor %}
            </div>
            <form
                class="bidding-form"
                action="{% url 'show_listing' listing.id%}"
                method="POST">
                {% csrf_token %}
                <div>Note: Place Bidding More than the Current top.</div>
                <input name="comment" type="hidden">
                <input
                    required="required"
                    name="bid"
                    type="number"
                    class="form-control"
                    {% if not listing.is_live or listing.user.id == request.user.id %}
                    disabled="Disabled"
                    {% endif %}>
                <div class="center-btn">
                    <input
                        type="submit"
                        class="btn btn-primary bid-btn"
                        value="Place Bid"
                        {% if not listing.is_live or listing.user.id == request.user.id %}
                        disabled="Disabled"
                        {% endif %}>
                </div>
            </form>
        </div>
    </div>
    <div class="sl-comment">
        <div class="comment-box">
            <h4>Comment Here:
            </h4>
            <form action="{% url 'show_listing' listing.id%}" method="POST">
                {% csrf_token %}
                <input name="bid" type="hidden">
                <textarea
                    required="required"
                    rows="5"
                    name="comment"
                    class="form-control"
                    {% if not listing.is_live %}
                    disabled="Disabled"
                    {% endif %}></textarea>
                <div class="center-btn">
                    <input
                        type="submit"
                        class="btn btn-primary bid-btn"
                        value="Comment"
                        {% if not listing.is_live %}
                        disabled="Disabled"
                        {% endif %}>
                </div>
            </form>
        </div>
        <div class="all-comments">
            <div>
                <b>Previous Comments:</b>
            </div>
            {% for comment in comments %}
                <div class="unit-comment">
                    <div class="comment-user">
                        <b>By:</b>
                        &nbsp;&nbsp;{{comment.user.username}}
                    </div>
                    <div class="comment-text">
                        <b>Comment:</b>
                        &nbsp;&nbsp; <pre>{{comment}}</pre>
                    </div>
                    <div class="comment-time">On: &nbsp;&nbsp;{{comment.time}}
                    </div>
                </div>
                {% empty %}
                    <div>No Comments to Show.</div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}