.index-header{
    text-align: right;
}

.index-header a{
    padding: 5px;
    text-decoration: none;
    color:rgb(0, 0, 0, .87);

}

.index-header a:hover{
    text-decoration: underline;
}

.index-header img{
    border-radius: 200px;
    height: 30px;
    /* padding: 5px; */
    margin: 10px;
}
.normal-search{
    margin: 200px;
    text-align: center;
}

.normal-search img{
    height: 100px;
}

.search-input{
    margin: 30px;
    height: 40px;
    width: 500px;
    border-radius: 50px;
    border: solid rgb(236, 236, 236) 3px;
    outline: none;
    /* box-shadow: 100px 100px 100px 100px rgb(255, 2, 2); */

}

.search-input:focus{
    border: solid  #4285F4 3px;
}

input[type='text'] {
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 5px 1px #adabab;
}

.footer{
    position: absolute;
    bottom: 0;
    margin: 0px 10px 10px 20px;

}