{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
<div class="container mt-5">
  <div class="create-post-box p-4 bg-light border rounded shadow-sm">
    <h3 class="mb-4 text-center">Create Post</h3>
    <form action="{% url 'create_post' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Post" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
